{% extends 'base.html' %}
{% block title %}MedEon affiliations{% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Hospital Departments</h1>

    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/a-m.jpg' %}" alt="Emergency Department" class="card-img-top mt-4" style="width: 250px; height: 250px;">
                <div class="card-body">
                    <h4 class="card-title">A. MENARINI DIAGNOSTICS</h4>
                    <p class="card-text">A. Menarini Diagnostics is a worldwide healthcare company focused on diabetes, hematology, clinical chemistry, urine analysis and immunology.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/ab.jpg' %}" alt="Orthopedics Department" class="card-img-top mt-4" style="width: 250px; height: 250px;">
                <div class="card-body">
                    <h4 class="card-title">ABARCEO PHARMA AB</h4>
                    <p class="card-text">Abarceo Pharma is developing a small molecule technology platform for the treatment of mitochondrial dysfunction, with an initial focus on T2D.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/ak.jpg' %}" alt="Cardiology Department" class="card-img-top mt-4" style="width: 250px; height: 250px;">
                <div class="card-body">
                    <h4 class="card-title">AKUTSYSTER</h4>
                    <p class="card-text">We provide emergency at-home consultations with registered nurses.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/neuro.jpg' %}" alt="Neurology Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Neurology Department</h4>
                    <p class="card-text">Specializes in the diagnosis and treatment of nervous system disorders.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/gyeno.jpg' %}" alt="Gynecology Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Gynecology Department</h4>
                    <p class="card-text">Focuses on women's health, reproductive system, and pregnancy care.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/pedi.jpg' %}" alt="Pediatrics Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Pediatrics Department</h4>
                    <p class="card-text">Cares for infants, children, and adolescents' medical needs.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/derma.jpg' %}" alt="Dermatology Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Dermatology Department</h4>
                    <p class="card-text">Deals with skin, hair, and nails disorders, and cosmetic procedures.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/cancer.jpg' %}" alt="Oncology Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Oncology Department</h4>
                    <p class="card-text">Specializes in the diagnosis and treatment of cancer.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/radio.jpg' %}" alt="Radiology Department" class="card-img-top mt-4" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Radiology Department</h4>
                    <p class="card-text">Uses medical imaging techniques for diagnosis and treatment planning.</p>
                    <a href="#" class="btn btn-primary mt-4">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
